.DS_Store
./packer/variables.json
variables.json
*.tfstate
*.tfstate.*.backup
*.tfstate.backup
*.tfvars
.terraform/
./packer/key.json
./terraform/prod/balancer_key.json
./terraform/prod/key.json
./terraform/stage/balancer_key.json
./terraform/stage/key.json
### Ansible ###
*.retry
jdauphant.nginx
vault.key
# Vagrant & molecule
.vagrant/
*.log
*.pyc
.molecule
.cache
.pytest_cache
./ansible/venv/
